Vertical {
    margin: 1;
    width: 1fr;
    height: auto;
}
StringInput, IntegerInput {
    padding: 0;
}
Static {
    width: auto;
}
RenderedForm {
    keyline: heavy blue;
}
TextWidget {
    height: 3;
}
#outer-buttons {
    align: center middle;
}
#buttons {
    height: auto;
    width: auto;
    align: center middle;
}