Vertical {
    margin: 1;
    width: 1fr;
    height: auto;
}
TextInput, IntegerInput {
    padding: 0;
}
Static {
    width: auto;
}
Center {
    width: 1fr;
}
RenderedForm {
    keyline: heavy blue;
}
Horizontal {
    height: auto;
    align: center middle;
}
